@font-face {
  font-family: 'Nunito';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Nunito-Light.ttf");
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/options\.scss}line{font-family:\000037}}
body {
  font-family: 'Nunito', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/options\.scss}line{font-family:\0000311}}
section {
  width: 800px;
  margin: 0 auto 50px auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/options\.scss}line{font-family:\0000317}}
input[type=text] {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/options\.scss}line{font-family:\0000321}}
input.short {
  width: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/options\.scss}line{font-family:\0000325}}
input.long {
  width: 155px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/options\.scss}line{font-family:\0000330}}
.form-group {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/options\.scss}line{font-family:\0000335}}
.disabled {
  opacity: .3;
}
