@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_reset\.scss}line{font-family:\000031}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_reset\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_reset\.scss}line{font-family:\0000326}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_reset\.scss}line{font-family:\0000330}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_reset\.scss}line{font-family:\0000333}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_reset\.scss}line{font-family:\0000336}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_reset\.scss}line{font-family:\0000339}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_reset\.scss}line{font-family:\0000344}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'EB Garamond';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/EBGaramond-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Nunito-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: 'Kameron';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Kameron-Regular.ttf");
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_fonts\.scss}line{font-family:\0000337}}
.font-open-sans {
  font-family: 'Open Sans Light';
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_fonts\.scss}line{font-family:\0000341}}
.font-garamond {
  font-family: 'EB Garamond';
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_fonts\.scss}line{font-family:\0000345}}
.font-nunito {
  font-family: 'Nunito';
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/global\/_fonts\.scss}line{font-family:\0000349}}
.font-kameron {
  font-family: 'Kameron';
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_base\.scss}line{font-family:\000031}}
body {
  width: 220px;
  font-family: 'Roboto';
  background-color: #f2f0ec;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_base\.scss}line{font-family:\000038}}
a {
  color: #222;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\000031}}
.primary-nav a, .secondary-nav a {
  display: inline-block;
  width: 100%;
  -webkit-transition: color 100ms ease-in;
  transition: color 100ms ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\000037}}
.primary-nav {
  padding: 4px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\0000310}}
.primary-nav a {
  line-height: 1.3;
  letter-spacing: 0;
  padding: 10px 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\0000317}}
.primary-nav a:hover .primary-nav__link {
  color: #dc322f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\0000322}}
.primary-nav a.primary-nav__link--disabled {
  color: #b3b3b3;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\0000327}}
.primary-nav a.primary-nav__link--disabled:hover .primary-nav__link {
  color: #b3b3b3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\0000333}}
.primary-nav a.primary-nav__link--disabled .primary-nav__subtext:before {
  content: 'No text selected';
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\0000341}}
.primary-nav__subtext {
  display: inline-block;
  width: 100%;
  color: #999;
  font-size: 13px;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\0000353}}
.secondary-nav {
  background-color: #f9f8f7;
  border-top: 1px solid #c2c1be;
  padding: 8px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\0000358}}
.secondary-nav a {
  padding: 10px 16px;
  color: #888;
  font-size: 15px;
  font-weight: lighter;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/My\%20Projects\/Speedr\%20\(ext\)\/app\/styles\/sass\/popup\/_nav\.scss}line{font-family:\0000365}}
.secondary-nav a:hover {
  color: #222;
}
