@-webkit-keyframes fade-in {
  /* line 4, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 7, sass/speedr/_animations.scss */
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  /* line 4, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 7, sass/speedr/_animations.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  /* line 13, sass/speedr/_animations.scss */
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  /* line 13, sass/speedr/_animations.scss */
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flip-in {
  /* line 19, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: perspective(400) rotateX(40deg) scale(0.8);
    transform: perspective(400) rotateX(40deg) scale(0.8);
  }

  /* line 23, sass/speedr/_animations.scss */
  50% {
    opacity: 1;
  }

  /* line 26, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: perspective(400) rotateX(0) scale(1);
    transform: perspective(400) rotateX(0) scale(1);
  }
}
@keyframes flip-in {
  /* line 19, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: perspective(400) rotateX(40deg) scale(0.8);
    transform: perspective(400) rotateX(40deg) scale(0.8);
  }

  /* line 23, sass/speedr/_animations.scss */
  50% {
    opacity: 1;
  }

  /* line 26, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: perspective(400) rotateX(0) scale(1);
    transform: perspective(400) rotateX(0) scale(1);
  }
}
@-webkit-keyframes flip-out {
  /* line 32, sass/speedr/_animations.scss */
  0% {
    -webkit-transform: perspective(400) rotateX(0);
    transform: perspective(400) rotateX(0);
  }

  /* line 35, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: perspective(400) rotateX(30deg) scale(0.9);
    transform: perspective(400) rotateX(30deg) scale(0.9);
    opacity: 0;
  }
}
@keyframes flip-out {
  /* line 32, sass/speedr/_animations.scss */
  0% {
    -webkit-transform: perspective(400) rotateX(0);
    transform: perspective(400) rotateX(0);
  }

  /* line 35, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: perspective(400) rotateX(30deg) scale(0.9);
    transform: perspective(400) rotateX(30deg) scale(0.9);
    opacity: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000341}}
.fade-in {
  -webkit-animation: fade-in 400ms ease-in;
  animation: fade-in 400ms ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000342}}
.fade-out {
  -webkit-animation: fade-out 400ms ease-out;
  animation: fade-out 400ms ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000343}}
.flip-in {
  -webkit-animation: flip-in 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: flip-in 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000344}}
.flip-out {
  -webkit-animation: flip-out 300ms ease-out;
  animation: flip-out 300ms ease-out;
}

@font-face {
  font-family: 'Source Sans';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000310}}
* [class^='speedr'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000314}}
.speedr-button-fade {
  cursor: default;
  opacity: .6;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000319}}
.speedr-button-fade:hover {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000324}}
.speedr-small-text {
  font-size: .6875em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000330}}
.speedr-container {
  position: fixed;
  z-index: 2147483646;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000339}}
.speedr-container .speedr-box {
  position: absolute;
  z-index: 2147483647;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 16px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000351}}
.speedr-container .speedr-menu-button {
  display: inline-block;
  padding: 8px;
  -webkit-transition: margin 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: margin 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000356}}
.speedr-container .speedr-menu-button:before {
  content: '\2039';
  margin-left: -5px;
  margin-right: 3px;
  opacity: 0;
  -webkit-transition: opacity 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000364}}
.speedr-container .speedr-menu-button.speedr-menu-button-active {
  opacity: 1;
  margin-left: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000368}}
.speedr-container .speedr-menu-button.speedr-menu-button-active:before {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000374}}
.speedr-container .speedr-menu {
  position: absolute;
  right: 100%;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-perspective: 400;
  perspective: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000384}}
.speedr-container .speedr-menu.speedr-menu-active li {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\0000390}}
.speedr-container .speedr-menu li {
  margin: 0;
  padding: 8px 14px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: inset -20px 0 10px -21px rgba(0, 0, 0, 0.4);
  opacity: 0;
  cursor: default;
  -webkit-transform: rotateY(-110deg);
  transform: rotateY(-110deg);
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 250ms ease-out, padding 100ms ease-in-out;
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 250ms ease-out, padding 100ms ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003103}}
.speedr-container .speedr-menu li:hover {
  padding: 8px 8px 8px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003109}}
.speedr-container .speedr-menu li:last-child {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003114}}
.speedr-container .speedr-menu li:nth-child(2) {
  -webkit-transition-delay: 80ms;
  transition-delay: 80ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003114}}
.speedr-container .speedr-menu li:nth-child(3) {
  -webkit-transition-delay: 120ms;
  transition-delay: 120ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003114}}
.speedr-container .speedr-menu li:nth-child(4) {
  -webkit-transition-delay: 160ms;
  transition-delay: 160ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003114}}
.speedr-container .speedr-menu li:nth-child(5) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003114}}
.speedr-container .speedr-menu li:nth-child(6) {
  -webkit-transition-delay: 240ms;
  transition-delay: 240ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003114}}
.speedr-container .speedr-menu li:nth-child(7) {
  -webkit-transition-delay: 280ms;
  transition-delay: 280ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003114}}
.speedr-container .speedr-menu li:nth-child(8) {
  -webkit-transition-delay: 320ms;
  transition-delay: 320ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003114}}
.speedr-container .speedr-menu li:nth-child(9) {
  -webkit-transition-delay: 360ms;
  transition-delay: 360ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003114}}
.speedr-container .speedr-menu li:nth-child(10) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003121}}
.speedr-container .speedr-countdown {
  position: absolute;
  top: 0;
  left: -webkit-calc(45% + 2px);
  left: calc(45% + 2px);
  display: inline-block;
  width: 2px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003129}}
.speedr-container .speedr-countdown .speedr-countdown-bar {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003137}}
.speedr-container .speedr-countdown .speedr-countdown-bar.speedr-countdown-bar-zero {
  top: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003145}}
.speedr-container .speedr-status.speedr-status-hidden .speedr-status-item {
  top: 18px;
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003151}}
.speedr-container .speedr-status .speedr-status-item {
  position: absolute;
  top: 8px;
  left: 45%;
  display: inline-block;
  margin-left: 10px;
  -webkit-transition: top 200ms 150ms ease-in, opacity 200ms 150ms ease-in;
  transition: top 200ms 150ms ease-in, opacity 200ms 150ms ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003159}}
.speedr-container .speedr-status .speedr-status-item:first-child {
  margin-left: -5px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003166}}
.speedr-container .speedr-word-container {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 6px;
  border-bottom: 1px solid #ccc;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003174}}
.speedr-container .speedr-word-container .speedr-pointer {
  position: absolute;
  top: 0;
  left: -webkit-calc(45% - 3px);
  left: calc(45% - 3px);
  display: inline-block;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003186}}
.speedr-container .speedr-word-container .speedr-word {
  line-height: 1.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003189}}
.speedr-container .speedr-word-container .speedr-word div {
  display: table-cell;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003192}}
.speedr-container .speedr-word-container .speedr-word div:first-child {
  width: 45%;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003197}}
.speedr-container .speedr-word-container .speedr-word div:last-child {
  width: 55%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003204}}
.speedr-container .speedr-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 380px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003213}}
.speedr-container .speedr-controls .speedr-button {
  display: inline-block;
  padding: 10px 0;
  margin-right: 15px;
  opacity: .8;
  cursor: default;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003221}}
.speedr-container .speedr-controls .speedr-button:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003225}}
.speedr-container .speedr-controls .speedr-button:hover {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003230}}
.speedr-container .speedr-controls .play-pause {
  display: table-cell;
  font-size: 1.09em;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003235}}
.speedr-container .speedr-controls .play-pause:before, .speedr-container .speedr-controls .play-pause:after {
  position: relative;
  top: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003240}}
.speedr-container .speedr-controls .play-pause:before {
  content: '\2039';
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003245}}
.speedr-container .speedr-controls .play-pause:after {
  content: '\203A';
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003251}}
.speedr-container .speedr-controls .speedr-controls-side {
  display: table-cell;
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003256}}
.speedr-container .speedr-controls .speedr-controls-side:hover .speedr-button {
  opacity: .5;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003260}}
.speedr-container .speedr-controls .speedr-controls-side:hover .speedr-button:hover {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003269}}
.speedr-container .speedr-minimap {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 8px;
  font-size: 1.125em;
  line-height: 5px;
  border-left-style: solid;
  border-left-width: 1px;
  overflow-y: auto;
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003281}}
.speedr-container .speedr-minimap::-webkit-scrollbar {
  width: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003285}}
.speedr-container .speedr-minimap::-webkit-scrollbar-track {
  background-color: #e8e8e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003289}}
.speedr-container .speedr-minimap::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003293}}
.speedr-container .speedr-minimap p {
  margin: 0 0 5px 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font: inherit !important;
  vertical-align: baseline !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003300}}
.speedr-container .speedr-minimap p span {
  margin-right: -1px;
  opacity: .4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003304}}
.speedr-container .speedr-minimap p span:first-child {
  margin-left: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003308}}
.speedr-container .speedr-minimap p span.speedr-read {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\.scss}line{font-family:\00003315}}
.speedr-container .speedr-wpm {
  position: absolute;
  top: 100%;
  right: 0;
  font-size: .75em;
  padding: 8px 16px;
  box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.4);
}
