@font-face {
  font-family: 'Roboto';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: 'Open Sans';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/RobotoSlab-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: 'Lora';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Lora-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Nunito-Light.ttf");
  font-weight: lighter;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/global\/_fonts\.scss}line{font-family:\0000337}}
.font-open-sans {
  font-family: 'Open Sans';
  font-weight: lighter;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/global\/_fonts\.scss}line{font-family:\0000342}}
.font-roboto-slab {
  font-family: 'Roboto Slab';
  font-weight: lighter;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/global\/_fonts\.scss}line{font-family:\0000347}}
.font-lora {
  font-family: 'Lora';
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/global\/_fonts\.scss}line{font-family:\0000351}}
.font-nunito {
  font-family: 'Nunito';
  font-weight: lighter;
}

@-webkit-keyframes fade-in {
  /* line 2, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 5, sass/speedr/_animations.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  /* line 2, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 5, sass/speedr/_animations.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  /* line 11, sass/speedr/_animations.scss */
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  /* line 11, sass/speedr/_animations.scss */
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes flip-in {
  /* line 17, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: perspective(400) rotateX(40deg) scale(0.8);
    transform: perspective(400) rotateX(40deg) scale(0.8);
  }

  /* line 21, sass/speedr/_animations.scss */
  50% {
    opacity: 1;
  }

  /* line 24, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: perspective(400) rotateX(0) scale(1);
    transform: perspective(400) rotateX(0) scale(1);
  }
}
@keyframes flip-in {
  /* line 17, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: perspective(400) rotateX(40deg) scale(0.8);
    transform: perspective(400) rotateX(40deg) scale(0.8);
  }

  /* line 21, sass/speedr/_animations.scss */
  50% {
    opacity: 1;
  }

  /* line 24, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: perspective(400) rotateX(0) scale(1);
    transform: perspective(400) rotateX(0) scale(1);
  }
}
@-webkit-keyframes flip-out {
  /* line 30, sass/speedr/_animations.scss */
  0% {
    -webkit-transform: perspective(400) rotateX(0);
    transform: perspective(400) rotateX(0);
  }

  /* line 33, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: perspective(400) rotateX(30deg) scale(0.9);
    transform: perspective(400) rotateX(30deg) scale(0.9);
    opacity: 0;
  }
}
@keyframes flip-out {
  /* line 30, sass/speedr/_animations.scss */
  0% {
    -webkit-transform: perspective(400) rotateX(0);
    transform: perspective(400) rotateX(0);
  }

  /* line 33, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: perspective(400) rotateX(30deg) scale(0.9);
    transform: perspective(400) rotateX(30deg) scale(0.9);
    opacity: 0;
  }
}
@-webkit-keyframes fly-up {
  /* line 40, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
  }

  /* line 44, sass/speedr/_animations.scss */
  70% {
    opacity: 1;
  }

  /* line 47, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fly-up {
  /* line 40, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
  }

  /* line 44, sass/speedr/_animations.scss */
  70% {
    opacity: 1;
  }

  /* line 47, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fly-up-centered {
  /* line 53, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 4px, 0);
    transform: translate3d(-50%, 4px, 0);
  }

  /* line 57, sass/speedr/_animations.scss */
  70% {
    opacity: 1;
  }

  /* line 60, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes fly-up-centered {
  /* line 53, sass/speedr/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 4px, 0);
    transform: translate3d(-50%, 4px, 0);
  }

  /* line 57, sass/speedr/_animations.scss */
  70% {
    opacity: 1;
  }

  /* line 60, sass/speedr/_animations.scss */
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000365}}
.speedr-fade-in {
  -webkit-animation: fade-in 400ms ease-in;
  animation: fade-in 400ms ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000366}}
.speedr-fade-out {
  -webkit-animation: fade-out 400ms ease-out;
  animation: fade-out 400ms ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000367}}
.speedr-fade-out-quick {
  -webkit-animation: fade-out 250ms ease-out;
  animation: fade-out 250ms ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000368}}
.speedr-flip-in {
  -webkit-animation: flip-in 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: flip-in 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000369}}
.speedr-flip-out {
  -webkit-animation: flip-out 300ms ease-out;
  animation: flip-out 300ms ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000370}}
.speedr-tooltip-fly-up {
  -webkit-animation: fly-up-centered 70ms ease-in;
  animation: fly-up-centered 70ms ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_animations\.scss}line{font-family:\0000371}}
.speedr-context-fly-up {
  -webkit-animation: fly-up 70ms ease-in;
  animation: fly-up 70ms ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\000031}}
* [class^='speedr'] {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\0000314}}
.speedr-container {
  position: fixed;
  z-index: 2147483645;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\0000325}}
.speedr-box {
  position: fixed;
  z-index: 2147483646;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 3px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\0000343}}
.speedr-word-container {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\0000352}}
.speedr-word-container .speedr-pointer {
  position: absolute;
  top: 0;
  left: calc(50% - 6px);
  display: inline-block;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  border-radius: 50%;
  transition: border-color 200ms ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\0000366}}
.speedr-word-container .speedr-word {
  position: relative;
  height: 1.4em;
  line-height: 1.4em;
  white-space: nowrap;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\0000373}}
.speedr-word-container .speedr-word div {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\0000379}}
.speedr-word-container .speedr-word div:before, .speedr-word-container .speedr-word div:after {
  position: absolute;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\0000384}}
.speedr-word-container .speedr-word div:before {
  content: attr(data-before);
  right: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_layout\.scss}line{font-family:\0000389}}
.speedr-word-container .speedr-word div:after {
  content: attr(data-after);
  left: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_general\.scss}line{font-family:\000032}}
.speedr-button-fade {
  cursor: default;
  opacity: .6;
  transition: opacity 250ms ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_general\.scss}line{font-family:\000037}}
.speedr-button-fade:hover {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/_general\.scss}line{font-family:\0000312}}
.speedr-small-text {
  font-size: 11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\000031}}
.speedr-controls {
  position: absolute;
  bottom: 6px;
  width: 100%;
  padding: 0 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\000037}}
.speedr-controls-left {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\0000311}}
.speedr-controls-right {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\0000315}}
.speedr-controls .speedr-button {
  position: relative;
  display: inline-block;
  padding: 8px 10px;
  opacity: .6;
  cursor: default;
  white-space: nowrap;
  transition: opacity 120ms ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\0000324}}
.speedr-controls .speedr-button:hover {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\0000327}}
.speedr-controls .speedr-button:hover .speedr-button-actions {
  top: -16px;
  opacity: 1;
  visibility: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\0000334}}
.speedr-controls .speedr-button--centered {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\0000340}}
.speedr-controls .speedr-button-actions {
  position: absolute;
  top: -10px;
  left: 4px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: top 100ms ease-in, opacity 100ms ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\0000349}}
.speedr-controls .speedr-button-actions--right {
  left: auto;
  right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\0000355}}
.speedr-controls .speedr-button-action {
  display: inline-block;
  padding: 4px 6px;
  opacity: .4;
  transition: opacity 120ms ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_controls\.scss}line{font-family:\0000361}}
.speedr-controls .speedr-button-action:hover {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_countdown\.scss}line{font-family:\000031}}
.speedr-countdown {
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  display: inline-block;
  width: 2px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_countdown\.scss}line{font-family:\000039}}
.speedr-countdown-bar {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  transition: top linear, background-color 5s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_countdown\.scss}line{font-family:\0000316}}
.speedr-countdown-bar-zero {
  top: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\000031}}
.speedr-menu {
  position: absolute;
  top: 6px;
  right: 100%;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-perspective: 400;
  perspective: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000312}}
.speedr-menu.speedr-menu-active li {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000318}}
.speedr-menu li {
  margin: 0;
  padding: 10px 14px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: inset -20px 0 10px -21px rgba(0, 0, 0, 0.4);
  opacity: 0;
  cursor: default;
  -webkit-transform: rotateY(-110deg);
  transform: rotateY(-110deg);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: -webkit-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 250ms ease-out, padding 100ms ease-in-out, background-color 200ms ease-in-out, border-bottom-color 200ms ease-in-out;
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 250ms ease-out, padding 100ms ease-in-out, background-color 200ms ease-in-out, border-bottom-color 200ms ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000331}}
.speedr-menu li:hover {
  padding: 10px 8px 10px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000335}}
.speedr-menu li:first-child {
  border-top-left-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000339}}
.speedr-menu li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000345}}
.speedr-menu li:nth-child(2) {
  transition-delay: 80ms, 0, 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000345}}
.speedr-menu li:nth-child(3) {
  transition-delay: 120ms, 0, 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000345}}
.speedr-menu li:nth-child(4) {
  transition-delay: 160ms, 0, 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000345}}
.speedr-menu li:nth-child(5) {
  transition-delay: 200ms, 0, 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000345}}
.speedr-menu li:nth-child(6) {
  transition-delay: 240ms, 0, 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000345}}
.speedr-menu li:nth-child(7) {
  transition-delay: 280ms, 0, 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000345}}
.speedr-menu li:nth-child(8) {
  transition-delay: 320ms, 0, 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000345}}
.speedr-menu li:nth-child(9) {
  transition-delay: 360ms, 0, 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000345}}
.speedr-menu li:nth-child(10) {
  transition-delay: 400ms, 0, 0, 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000351}}
.speedr-menu-button {
  position: relative;
  top: 7px;
  left: 3px;
  display: inline-block;
  padding: 8px;
  transition: margin 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000359}}
.speedr-menu-button:before {
  content: '\2039';
  margin-left: -5px;
  margin-right: 5px;
  opacity: 0;
  transition: opacity 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000367}}
.speedr-menu-button.speedr-menu-button-active {
  opacity: 1;
  margin-left: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_menu\.scss}line{font-family:\0000371}}
.speedr-menu-button.speedr-menu-button-active:before {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_minimap\.scss}line{font-family:\000031}}
.speedr-minimap {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 8px;
  line-height: 5px;
  border-left-style: solid;
  border-left-width: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: background-color 200ms ease-in-out, border-left-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_minimap\.scss}line{font-family:\0000315}}
.speedr-minimap::-webkit-scrollbar {
  width: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_minimap\.scss}line{font-family:\0000319}}
.speedr-minimap::-webkit-scrollbar-track {
  background-color: #e8e8e8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_minimap\.scss}line{font-family:\0000323}}
.speedr-minimap::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_minimap\.scss}line{font-family:\0000327}}
.speedr-minimap .contents {
  background-size: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_minimap\.scss}line{font-family:\0000331}}
.speedr-minimap-para {
  background-image: inherit;
  background-size: 0;
  font-size: 11px;
  line-height: 0;
  margin-bottom: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_minimap\.scss}line{font-family:\0000339}}
.speedr-minimap-word, .speedr-minimap-word--read {
  display: inline-block;
  height: 2px;
  height: 4px;
  background-image: inherit;
  background-size: 4px 2px;
  background-repeat: repeat-x;
  background-position: left;
  margin: 0 -2px 0 0;
  font-size: 0;
  line-height: 0;
  opacity: .4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_minimap\.scss}line{font-family:\0000352}}
.speedr-minimap-word:first-child, .speedr-minimap-word--read:first-child {
  margin-left: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_minimap\.scss}line{font-family:\0000356}}
.speedr-minimap-word--read {
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_status\.scss}line{font-family:\000033}}
.speedr-status-hidden .speedr-status-item {
  top: 18px;
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_status\.scss}line{font-family:\000039}}
.speedr-status-item {
  position: absolute;
  top: 10px;
  left: 50%;
  display: inline-block;
  margin-left: 13px;
  transition: top 200ms 150ms ease-in, opacity 200ms 150ms ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_status\.scss}line{font-family:\0000317}}
.speedr-status-item:first-child {
  margin-left: -8px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_tooltips\.scss}line{font-family:\000031}}
.speedr-tooltip, .speedr-context {
  position: fixed;
  z-index: 2147483647;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto';
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_tooltips\.scss}line{font-family:\0000314}}
.speedr-tooltip {
  margin-top: -30px;
  padding: 7px 10px;
  font-size: 11px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_tooltips\.scss}line{font-family:\0000321}}
.speedr-tooltip-arrow {
  height: 0;
  width: 0;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
  border-right: 6px solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_context\.scss}line{font-family:\000031}}
.speedr-context {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 8px 14px;
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 1.3;
  text-align: justify;
  white-space: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Brian\/Documents\/speedr\/app\/styles\/sass\/speedr\/addons\/_wpm\.scss}line{font-family:\000031}}
.speedr-wpm {
  position: absolute;
  top: 100%;
  right: 6px;
  padding: 10px 12px;
  box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: background-color 200ms ease-in-out;
}
