.binding {
	display: inline-block;
	background-color: $boxColor;
	padding-right: 7px;

	&.binding-text {
		&:before {
			font-size: 16px;
			font-weight: lighter;
			font-style: italic;
			color: #999;
			height: 31px;
			line-height: 31px;
			text-transform: lowercase;
		}

		&.binding-text-empty:before {
			content: 'No binding set'
		}

		&.binding-text-waiting:before {
			content: 'Waiting for input'
		}
	}

	&-group {
		margin: 0 0 15px 30px;
		cursor: default;

		&:hover {
			.controls {
				opacity: 1;
			}
		}

		.controls {
			display: inline-block;
			margin-left: 20px;
			font-size: 13px;
			text-transform: uppercase;
			opacity: 0;
			transition: opacity 200ms ease-in-out;

			span {
				display: inline-block;
				margin-right: 15px;
				color: #999;
				transition: color 200ms ease-in-out;

				&:hover {
					color: #444;
				}
			}
		}
	}

	&-container {
		position: relative;
		display: inline-block;
		width: 275px;
		height: 40px;

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: calc(50% - 5px);
			width: 100%;
			border-top: dotted 1px #444;

		}
	}

	&-details {
		display: inline-block;

		.error {
			margin-top: 3px;
		}
	}
}

.keyboard-key {
	background: linear-gradient(to bottom, #f2f2f2 0%,#e6e6e6 100%);
	display: inline-block;
	min-width: 30px;
	text-align: center;
	padding: 8px 11px;
	margin-right: 3px;
	border: 1px solid #808080;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(#000, 0.3);
}