input[type=text] {
	font-family: 'Source Sans Pro';
	font-size: 1.14em;
	color: #444;
	background-color: transparent;
	width: 40px;
	text-align: center;
	border: none;
	border-bottom: dotted 1px #444;
	outline: none;
	transition: border-bottom-color 200ms ease-in-out;

	&:focus {
		border-bottom-color: $red;
	}
}

input[type=radio], input[type=checkbox] {
	display: none;

	& + label:before {
		content: '';
		position: relative;
		top: 6px;
		display: inline-block;
		// background-image: url('chrome-extension://__MSG_@@extension_id__/images/button.png');
		background-image: url('../images/button.png');
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}

	&:checked {
		& + label:before {
			background-position: 20px;
		}
	}
}

.error {
	position: absolute;
	color: $red;
	font-size: .857em;

	&.error-with-checkbox {
		margin-left: 30px;
	}
}