section {
	width: 800px;
	padding-top: 15px;
	margin: 0 auto 35px auto;
	overflow: hidden;

	h1 {
		font-size: 18px;
		color: $highlightColor;
		text-transform: lowercase;
		letter-spacing: 1px;
		margin-bottom: 25px;
	}
}