body {
	font-family: 'Roboto';
	background-color: $boxColor;
	color: #444;
	font-size: 13px;
	margin: 0;
	padding-bottom: 77px;
}

section {
	width: 800px;
	margin: 0 auto 30px auto;
	overflow: hidden;

	h1 {
		font-size: 1.29em;
		color: $highlightColor;
		text-transform: lowercase;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
}