@import '../global/timings';

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	100% {
		opacity: 0;
	}
}

@keyframes flip-in {
	0% {
		opacity: 0;
		transform: perspective(400) rotateX(40deg) scale(.8)
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: perspective(400) rotateX(0) scale(1)
	}
}

@keyframes flip-out {
	0% {
		transform: perspective(400) rotateX(0);
	}
	100% {
		transform: perspective(400) rotateX(30deg) scale(.9);
		opacity: 0;
	}
}

.fade-in { animation: fade-in 400ms ease-in; }
.fade-out { animation: fade-out 400ms ease-out; }
.flip-in { animation: flip-in 400ms $ease-out-back; }
.flip-out { animation: flip-out 300ms ease-out; }