.speedr {
	&-button-fade {
		cursor: default;
		opacity: .6;
		transition: opacity 250ms ease-in-out;

		&:hover {
		    opacity: 1;
		}
	}

	&-small-text {
		font-size: .6875em;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}