@import 'speedr/animations';
@import 'speedr/timings';

@font-face {
    font-family: 'Source Sans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceSansPro-Regular.ttf');
    font-weight: 400;
}

* [class^='speedr'] {
    box-sizing: border-box;
}

.speedr-button-fade {
    cursor: default;
    opacity: .6;
    transition: opacity 250ms ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.speedr-small-text {
    font-size: .6875em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.speedr-container {
    position: fixed;
    z-index: 2147483646;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.6);

    .speedr-box {
        position: absolute;
        z-index: 2147483647;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        backface-visibility: hidden;
    }

    .speedr-menu-button {
        display: inline-block;
        padding: 8px;
        transition: margin 150ms $ease-out-back;

        &:before {
            content: '\2039';
            margin-left: -5px;
            margin-right: 3px;
            opacity: 0;
            transition: opacity 150ms $ease-out-back;
        }

        &.speedr-menu-button-active {
            opacity: 1;
            margin-left: 8px;

            &:before {
                opacity: 1;
            }
        }
    }

    .speedr-menu {
        position: absolute;
        right: 100%;
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        perspective: 400;

        &.speedr-menu-active {
            li {
                transform: rotateY(0);
                opacity: 1;
            }
        }

        li {
            padding: 8px 14px;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            box-shadow: inset -20px 0 10px -21px rgba(0,0,0,0.4);
            opacity: 0;
            cursor: default;
            transform: rotateY(-110deg);
            transform-origin: right;
            transition: transform 300ms $ease-out-back, opacity 250ms ease-out, padding 100ms ease-in-out;
            backface-visibility: hidden;

            &:hover {
                padding: 8px 8px 8px 20px;
                // border-left-width: 3px;
                // border-left-style: solid;
            }

            &:last-child {
                border-bottom: none;
            }

            @for $i from 2 through 10 {
                &:nth-child(#{$i}) {
                    transition-delay: 40ms * $i;
                }
            }
        }
    }

    .speedr-countdown {
        position: absolute;
        display: inline-block;
        width: 2px;
        overflow: hidden;

        .speedr-countdown-bar {
            position: relative;
            top: 0;
            height: 100%;
            width: 100%;
            transition-property: top;
            transition-timing-function: linear;

            &.speedr-countdown-bar-zero {
                top: 100%;
            }
        }
    }

    .speedr-status {
        &.speedr-status-hidden {
            .speedr-status-item {
                top: 18px;
                opacity: 0;
            }
        }

        .speedr-status-item {
            position: absolute;
            top: 8px;
            display: inline-block;
            margin-left: 8px;
            transition: top 200ms 150ms ease-in, opacity 200ms 150ms ease-in;

            &:first-child {
                margin-left: -5px;
                transform: translateX(-100%);
            }
        }
    }

    .speedr-word-container {
        position: absolute;
        top: 50%;
        width: 100%;
        padding: 6px;
        border-bottom: 1px solid #ccc;
        transform: translateY(-50%);

        .speedr-pointer {
            position: absolute;
            top: 0;
            left: calc(45% - 3px);
            display: inline-block;
            height: 0;
            width: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 6px;
        }

        div {
            display: table-cell;

            &:first-of-type {
                width: 45%;
                text-align: right;
            }

            &:last-of-type {
                width: 55%;
            }
        }
    }

    .speedr-player {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 480px;
        text-align: center;

        .speedr-button {
            display: inline-block;
            padding: 10px 0;
            margin-right: 6px;
            opacity: .8;
            cursor: default;
            transition: opacity 200ms ease-in-out;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: 1;
            }
        }

        .play-pause {
            position: relative;
            top: -1px;
            font-size: .75em;
            letter-spacing: 2px;
            margin: 0;

            &:before, &:after {
                position: relative;
                top: -1px;
            }

            &:before {
                content: '\2039';
                margin-right: 5px;
            }

            &:after {
                content: '\203A';
                margin-left: 5px;
            }
        }

        .speedr-player-left, .speedr-player-right {

            .speedr-button {
                opacity: 0;
            }

            &:hover {
                .speedr-button {
                    opacity: .5;
                    transition: opacity 500ms ease-in-out;

                    &:hover {
                        opacity: 1;
                        transition: opacity 200ms ease-in-out;
                    }
                }
            }
        }

        .speedr-player-left {
            float: left;
        }

        .speedr-player-right {
            float: right;
        }
    }

    .speedr-minimap {
        position: absolute;
        top: 0;
        left: 100%;
        padding: 8px;
        border-left-style: solid;
        border-left-width: 1px;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: darken(#f0f0f0, 3%);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0,0,0,0.10); 
        }

        p {
            margin: 0 0 6px 0 !important;
            padding: 0 !important;
            line-height: 4px;

            span {
                margin-right: -1px;
                opacity: .4;

                &:first-child {
                    margin-left: 8px;
                }

                &.speedr-read {
                    opacity: 1;
                }
            }
        }
    }

    .speedr-wpm {
        position: absolute;
        top: 100%;
        right: 0;
        font-size: .75em;
        padding: 8px 16px;
        box-shadow: inset 0 20px 10px -20px rgba(0,0,0,0.4);
    }
}