.speedr-context {
	@extend %tooltip;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	padding: 8px 14px;
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 1.3;
	text-align: justify;
	white-space: normal;
}