.speedr-countdown {
	position: absolute;
	top: 0;
	left: calc(45% - 1px);
	display: inline-block;
	width: 2px;
	overflow: hidden;

	&-bar {
	    position: relative;
	    top: 0;
	    height: 100%;
	    width: 100%;
	    transition: top linear, background-color 5s ease-in-out;

	    &-zero {
	        top: 100%;
	    }
	}
}