.speedr-status {
    &-hidden {
        .speedr-status-item {
            top: 18px;
            opacity: 0;
        }
    }

    &-item {
        position: absolute;
        top: 10px;
        left: 50%;
        display: inline-block;
        margin-left: 13px;
        transition: top 200ms 150ms ease-in, opacity 200ms 150ms ease-in;

        &:first-child {
            margin-left: -8px;
            transform: translateX(-100%);
        }
    }
}